<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pruebaCarrousel</title>
    <link href="/css/partialsCss/carrousel.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <div class="fondo">
        <%- include('./partials/header.ejs')%>
            <%- include('./partials/carrousel.ejs')%>
    </div>
</body>

</html>