<div >

    <img alt="" src="<%=db.imagen%>">
    <h4 class="novedades_product--tipo">
        <%=db.tipo%>
    </h4>
    <h3 class="novedades_product--titulo">
        <%= db.titulo %>
    </h3>
    <div class="novedades_product--descripcion">
        <%=db.descripcion%>
    </div>
    <div class="novedades_product--icons"><i class="iconify" data-icon="mdi:basket"></i> <i class="iconify"
            data-icon="pepicons:bookmark-print"></i></div>

</div>